- content_for :head_extras do
  = javascript_include_tag '/codemirror/lib/codemirror.js'
  = javascript_include_tag '/codemirror/mode/xml/xml.js'

- if @survey.responses.any?
  .alert-message.block-message.error
    %strong Warning!
    There are existing responses to this survey. Making changes may invalidate the existing
    data and cause problems on export. You can
    = link_to 'click here', clear_survey_path(@survey), method: :delete, confirm: "This will permenantly delete all responses to this survey! Are you sure you wish to proceed?"
    to clear existing responses.

- if @survey.errors.any?
  .alert-message.block-message.error
    %strong There were some errors with the survey preventing it from being saved:
    %ul
      - @survey.errors.full_messages.each do |message|
        %li= message

= form_for @survey do |f|
  %fieldset
    %legend
      == #{@survey.persisted? ? 'Edit' : 'New'} survey

    = hidden_field_tag :scroll_top, (flash[:scroll_top] ? flash[:scroll_top] : '-1')

    .control-group
      .control-label= f.label :name
      .controls= f.text_field :name, class: 'span6'
     
    .control-group
      .control-label= f.label :xml, 'Survey XML'
      .controls
        = f.text_area :xml, rows: 20, class: 'span10'
        %span.help-block= link_to 'Markdown reference', '/markdown-reference/index.html', class: 'fancybox fancybox.iframe'

    .form-actions
      = f.submit class: 'btn btn-primary', value: 'Save'
      = f.submit class: 'btn btn-info', value: 'Save and continue editing'
      = f.submit class: 'btn btn-info', value: 'Save and preview'
      = link_to 'Cancel', root_path, class: 'btn'
