- if @survey.errors.any?
  .alert-message.block-message.error
    %strong There were some errors with the survey preventing it from being saved:
    %ul
      - @survey.errors.full_messages.each do |message|
        %li= message

= form_for @survey, html: {class: 'form-stacked'} do |f|
  %fieldset
    %legend== #{@survey.persisted? ? 'Edit' : 'New'} survey

    .clearfix
      = f.label :name
      .input
        = f.text_field :name, class: 'span6'

    .clearfix
      = f.label :xml, 'Survey XML'
      .input
        = f.text_area :xml, rows: 20, class: 'span12'

    .actions
      = f.submit class: 'btn primary', value: 'Save'
      = f.submit class: 'btn info', value: 'Save and continue editing'
      = link_to 'Cancel', surveys_path, class: 'btn'
