- if current_user
  - unless @surveys.any?
    .alert.alert-block.alert-info
      You haven't created any surveys yet. Get started creating your first survey by
      == #{link_to 'clicking here', new_survey_path}.

  - else
    %p
      = link_to 'Add survey', new_survey_path, class: 'btn btn-primary'
    
    %h2 Your surveys

    %ul.unstyled#survey-list
      - @surveys.each do |survey|
        %li[survey]
          %h3
            = survey.name
            %small= link_to 'edit', edit_survey_path(survey)
    
          %p
            %small= link_to 'Delete this survey', survey_path(survey), method: :delete, confirm: "This will permanently delete this survey and all responses! Are you sure you wish to proceed?"
    
          %p
            Public survey link
            = link_to new_survey_response_url(survey), new_survey_response_url(survey)
          %p
            Responses:
            == #{survey.responses.count} total (#{survey.responses.incomplete.count} incomplete)
          %p
            = link_to 'Download CSV', survey_responses_path(survey, format: :csv), class: 'btn btn-small btn-info'
            = link_to 'Clear responses', clear_survey_path(survey), method: :delete, class: 'btn btn-small btn-danger', confirm: "This will permenantly delete all responses to this survey! Are you sure you wish to proceed?"

- else
  .well
    %h2 Welcome to the survey tool at WorkplaceResearch.org!

    %p
      This tool is used to create powerful surveys for academic or market research. To get started,
      log in using a Google account and create your first survey.
