.clearfix
  %table.condensed-table.zebra-striped
    %thead
      %tr
        %th=questionset[:text]
        - @survey.scale_options(questionset[:scale]).each do |value,text|
          %th
            = value
            %br
            = text || raw("&nbsp;")
    %tbody
      - questionset[:questions].each do |question|
        %tr{style: hidden_if_dependent(question, @response)}
          %td
            = question[:text]
            = radio_button "response[page_answers]", question[:id], "", style: "display:none;"

          - @survey.scale_options(questionset[:scale]).each do |value,text|
            %td
              = radio_button "response[page_answers]", question[:id], value
