.clearfix
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th=questionset[:text]
        - @survey.scale_options(questionset[:scale]).each do |value,text|
          %th.cell-centered
            = value
            %br
            = text || raw("&nbsp;")
    %tbody
      - questionset[:questions].each do |question|
        %tr{dependent_options(question, @response)}
          %td
            = question[:text]
            = radio_button "response[page_answers]", question[:id], "", style: "display:none;"

          - @survey.scale_options(questionset[:scale]).each do |value,text|
            %td.cell-centered
              = radio_button "response[page_answers]", question[:id], value
