.clearfix
  %label{for: scale_question[:id]}= scale_question[:text]
  .input
    = radio_button "response[page_answers]", scale_question[:id], "", style: "display:none;"
    %ul.inputs-list
      - @survey.scale_options(scale_question[:scale]).each do |value,text|
        %li
          %label
            = radio_button "response[page_answers]", scale_question[:id], value
            %span
              - if text
                == #{value} - #{text}
              - else
                == #{value}
