.control-group
  .control-label
    %label{for: scale_question[:id]}= scale_question[:text]
  .controls
    = radio_button "response[page_answers]", scale_question[:id], "", style: "display:none;"
    %ul.inputs-list.unstyled
      - @survey.scale_options(scale_question[:scale]).each do |value,text|
        %li
          = radio_button "response[page_answers]", scale_question[:id], value
          %span
            - if text
              == #{text}
            - else
              == #{value}
